* {
	margin: 0;
	padding: 0;
}

/* Стили для header -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */


header {
	padding: 2vw;
	display: flex;
	background-color: #ccc;
}

.logo-div {
	display: flex;
	flex-direction: column;
	width: 30vw;
	cursor: pointer;

}

.logo-div h1 {
	align-self: center;
	font-size: 2vw;
	font-family: "Great Vibes", serif;
	font-weight: 500;
	font-style: normal;
}

.logo-div p {
	align-self: center;
	font-size: 1vw;
}

header .history {
	display: flex;
	width: 100%;
	justify-content: space-around;
	padding-left: 10vw;
	padding-right: 10vw;
}

header .history * {
	font-size: 2vw;
	cursor: pointer;
}

header .history .lang {
	width: 6vw;
	color: black;
	text-decoration: none;
}

header .history .lang:hover {
	position: relative;
	text-decoration: underline;
}

header .history .my_history {
	cursor: default;
}

/* Стили для основного содержимого ------------------------------------------------------------------------------------------------------------------------------------------  */

main {
	width: 98vw;
	height: 45vw;
	color: white;
}

.main-html {
	font-size: 4vw;
	color: #7f7f7f;
	position: relative;
	top: 40%;
	left: -22%;
	z-index: 10;
	cursor: default;
	rotate: 180deg;
}

.main-round-pink {
	width: 20vw;
	height: 20vw;
	border-radius: 50%;
	rotate: 62deg;
	position: absolute;
	top: 34.5%;
	left: 36.8%;

	border: 3vw solid #ed7775;
	border-color: #ed7775 #c97d1200 #c97d1200 #c97d1200;

	z-index: 8;
}

.stripe1-pink {
	width: 8vw;
	height: 0.5vw;
	background-color: #ed7775;
	rotate: 45deg;
	position: absolute;
	top: -1.4%;
	left: -19%;

	z-index: 10;
}

.stripe2-pink {
	width: 30vw;
	height: 0.5vw;
	background-color: #ed7775;
	rotate: 118deg;
	position: absolute;
	top: -80.2%;
	left: -52.7%;

	z-index: 10;
}

.icon-tags {
	padding: 0.5vw;
	color: #ed7775;
	font-size: 7vw;
	font-weight: 900;
	rotate: -62deg;
	position: absolute;
	top: -160%;
	left: 50%;
	cursor: pointer;
}

.icon-tags a {
	text-decoration: none;
	color: #ed7775;
}

.icon-tags-description {
	color: #8a8a8c;
	font-size: 3vw;
	cursor: default;
}

.main-round-blue {
	width: 20vw;
	height: 20vw;
	border-radius: 50%;
	rotate: -62deg;
	position: absolute;
	top: 34.5%;
	left: 36.8%;

	border: 3vw solid #504f61;
	border-color: #504f61 #c97d1200 #c97d1200 #c97d1200;

	z-index: 8;
}

.stripe1-blue {
	width: 8vw;
	height: 0.5vw;
	background-color: #504f61;
	rotate: 140deg;
	position: absolute;
	top: 0%;
	left: 80%;

	z-index: 10;
}

.stripe2-blue {
	width: 30vw;
	height: 0.5vw;
	background-color: #504f61;
	rotate: 62.5deg;
	position: absolute;
	top: -77.9%;
	left: 5.4%;

	z-index: 10;
}

.icon-other {
	rotate: 62deg;
}

.icon-other-part1 {
	position: absolute;
	top: -10vw;
	left: -20vw;
	border: 1.7vw solid #504f61;
	border-radius: 5% 10% 15% 10%;
	width: 0.1vw;
}

.icon-other-part2 {
	position: absolute;
	top: -10vw;
	left: -16vw;
	border: 1.7vw solid #504f61;
	border-radius: 10% 5% 10% 15%;
	width: 0.1vw;
}

.icon-other-part3 {
	position: absolute;
	top: -6vw;
	left: -20vw;
	border: 1.7vw solid #504f61;
	border-radius: 10% 15% 10% 5%;
	width: 0.1vw;
}

.icon-other-part4 {
	position: absolute;
	top: -6vw;
	left: -16vw;
	border: 1.7vw solid #504f61;
	border-radius: 15% 10% 5% 10%;
	width: 0.1vw;
}

.icon-other-description {
	color: #8a8a8c;
	position: absolute;
	left: -130%;
	font-size: 2.8vw;
	cursor: default;
	font-weight: 900;
}

.blue-zone {
	position: absolute;
	top: -150%;
	left: -2%;
	width: 7.5vw;
	height: 7.5vw;
	background-color: #3330;
	rotate: 62deg;
	z-index: 11;
	cursor: pointer;
	border-radius: 5%;
}

.main-round-green {
	width: 20vw;
	height: 20vw;
	border-radius: 50%;
	rotate: 180deg;
	position: absolute;
	top: 34.4%;
	left: 36.8%;

	border: 3vw solid #32b196;
	border-color: #32b196 #c97d1200 #c97d1200 #c97d1200;

	z-index: 9;
}

.stripe1-green {
	width: 8vw;
	height: 0.5vw;
	background-color: #32b196;
	rotate: 45deg;
	position: absolute;
	top: -1.4%;
	left: -19%;

	z-index: 10;
}

.stripe2-green {
	width: 22vw;
	height: 0.5vw;
	background-color: #32b196;
	rotate: 0deg;
	position: absolute;
	top: -15%;
	left: -122.2%;

	z-index: 10;
}

.icon-attr {
	color: #32b196;
	font-size: 5vw;
	font-weight: 900;
	rotate: 180deg;
	position: absolute;
	top: -5%;
	left: -180%;
	cursor: pointer;
}

.icon-attr a {
	text-decoration: none;
	color: #32b196;
}

.icon-attr-description {
	color: #8a8a8c;
	font-size: 3vw;
	position: absolute;
	top: 140%;
	left: 30%;
	cursor: default;
}

/* Стили для footer ---------------------------------------------------------------------------------------------------------------------------------------------------------- */

footer {
	display: flex;
	background-color: #ccc;
	color: grey;
	width: 93.95%;
	padding: 1vw;
	align-items: center;
	padding-left: 5vw;
	position: absolute;
	bottom: -20%;
	width: 100%;
}

footer .footer-logo{
	width: 15vw;
	margin-right: 13vw;
	
}

footer .icon-footer {
	padding-left: 5vw;
	width: 3vw;
	height: 3vw;
}

footer p {
	margin-left: 21vw;
	font-size: 2vw;
}